.App {
  text-align: center;
  background-color: #FFF9FB;
  color: #252627 !important;
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: #4B88A2;
  height: 180px;
  padding: 20px;
  color: white;
}


#root > div > div:nth-child(2) > div {
  /*text-shadow: 4px 4px 12px #f6bdfa;*/

}

#root > div > div.projects > div > h2 {
  /*text-shadow: 4px 4px 12px #f6bdfa;*/

}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#root > div > div:nth-child(2) > div > div > div.avatar.about-me-img > img {
  border-radius: 100%;
}
.about-me-text {
  padding-top: 24px;
  align-items: center;
}
